<div class="listview padding10 default" data-role="listview" id="lv1" data-on-list-click="onListClick(list)"
     style="margin-top: -15px;">
    {% for contact in contacts %}
        {% if contact.positions.length == 0 %}
            <div class="list">
                <span class="
                      {% if contact.ignored %} mif-volume-mute
                      {% else %} mif-bubble
                      {% endif %}
                      fg-red list-icon"></span>
                <span class="list-title">{{contact.login}}</span>
            </div>
        {% else %}
            {% for position in contact.positions %}
                <div class="list">
                    <span class="
                          {% if contact.ignored %} mif-volume-mute
                          {% else %} mif-bubble
                          {% endif %}
                          {% if position.status == 'logout' %} fg-red 
                          {% elseif position.status == 'login' %} fg-lime
                          {% elseif position.status == 'actif' %} fg-green
                          {% elseif position.status == 'away' %} fg-orange
                          {% elseif position.status == 'lock' %} fg-gray
                          {% else %} fg-violet
                          {% endif %} list-icon"></span>
                    <span class="list-title">{{contact.login}} on {{position.location}}</span>
                </div>
            {% endfor %}
        {% endif %}
    {% endfor %}
</div>