<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Index</title>
    <link href="../css/metro.min.css" rel="stylesheet">
    <link href="../css/metro-icons.min.css" rel="stylesheet">
    <script src="../js/jquery-2.1.4.min.js"></script>
    <script src="../js/metro.min.js"></script>
    <script src="../app/Index.js"></script>
</head>
<body>
    <div>
        <ul class="horizontal-menu" style="position:fixed;z-index:9999">
            <li>
                <a href="#" class="dropdown-toggle">File</a>
                <ul class="d-menu" data-role="dropdown">
                    <li>
                        <a href="#" class="dropdown-toggle">States</a>
                        <ul class="d-menu" data-role="dropdown">
                            <li><a id="savailable" href="#">Available</a></li>
                            <li><a id="saway" href="#">Away</a></li>
                            <li><a id="slocked" href="#">Locked</a></li>
                        </ul>
                    </li>
                    <li><a id="close" href="#">Close</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="dropdown-toggle">Contact</a>
                <ul class="d-menu" data-role="dropdown">
                    <li><a id="addcontact" href="#">Add Contact</a></li>
                </ul>
            </li>
        </ul>
        <div style="width:300px;position:fixed;top:42px;overflow:auto">
            <div id="sstate" class="bg-grayDark fg-white padding10 text-shadow" style="text-align:center"></div>
            <div id="scontacts" style="height:700px">
                <div class="listview padding10" data-role="listview" id="lv1" data-on-list-click="onListClick(list)"
                     style="margin-top: -15px;">
                </div>
            </div>
        </div>
        <div id="msg" style="position:absolute;top:39px;left:300px;margin-left:5px;">
            <div style="width:100%">
                <div style="float:left">
                    <button class="image-button" id="ignorecontactbtn">
                        Ignore/Unignored contact
                        <span class="icon mif-volume-mute"></span>
                    </button>
                </div>
                <div style="float:left;margin-left:5px">
                    <button class="image-button" id="removecontactbtn">
                        Remove contact
                        <span class="icon mif-cross"></span>
                    </button>
                </div>
            </div>
            <div id="msgcontent" style="clear:both;width:800px;height:600px;overflow:auto;">
                <div id="recmsg" style="padding-bottom:5px;">
                </div>
            </div>
            <div class="form-actions" id="sendmsg" style="bottom:0;width:100%">
                <textarea id="msgtextarea" style="width:100%; resize:none;" rows="5" maxlength="1024"></textarea>
                <button id="SendMsg" class="button primary" style="width:100%">Send</button>
            </div>
        </div>
    </div>
</body>
</html>